body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.section{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1.5s ease-out;
}
.section.visible{
    opacity: 1;
    transform: translateY(0);
}


a{
    text-decoration: none;
    color: inherit;
}
h3{
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
}

header{
    box-shadow: 1px 2px 10px grey;
    text-align: center;
    background-color: rgb(240, 70, 4);
    font-family: "poppins", sans-serif;
    color: white;
    position: fixed;
    top: 30px;
    width: 500px;
    border-radius: 50px;
    z-index: 1000;
    width: 60%;
    left: 270px;
    right: 200px;

    @media (max-width: 1000px) {
        width: 90%;
        left: 20px;
    }
    .hamburger{
        display: none;
    }
    

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;

    .logo img{
        height: 40px;
    }

    ul{
        list-style: none;
    }
    .navigations{
        display: flex;

        li{
            padding-right: 15px;

            span{
                font-weight: bold;
            }
        }
    }
    .cart{
        padding: 10px 15px;
        background-color: white;
        color: rgb(240, 70, 4);
        border-radius: 100px;
        position: relative;

        .cart-icon img{
            display: none;
        }
        #sign{
            display: none;
            position: absolute;
            padding: 7px;
            background-color: #f04604;
            border: 2px solid white;
            top: -5px;
            right: 5px;
            border-radius: 50px;
            box-shadow: 1px 1px 5px rgb(187, 187, 187);
        }
    }
}
}
.menu-nav{
    position: relative;


    .drop-down-nav{
        position: absolute;
        top: 25px;
        left: -40px;
        text-align: left;
        list-style: none;
        font-family: "poppins", sans-serif;
        background-color: white;
        box-shadow: 1px 1px 10px grey;
        border-radius: 7px;
        color: rgb(240, 70, 4);
        font-weight: 500;
        opacity: 0;
        transform: translateY(30px);
        transition: .3s ease-in-out;

        

        li{
            line-height: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
            
        }
    }
}
.menu-nav:hover .drop-down-nav{
    opacity: 1;
    transform: translateY(0px);
}

.hero{
    height: 250px;
    


    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        filter: blur(3px);
    }
}

.shawarma-list-cont{
    position: absolute;
    width: 92%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin-top: -50px;
    box-shadow: 1px 2px 5px rgb(223, 221, 221);
    border-top-right-radius: 150px;


    .line{
        margin-top: 40px;
        width: 90px;
        height: 12px;
        background-color: rgb(240, 70, 4);
        margin-bottom: 10px;
        }
    
        h2{
            font-size: 50px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            margin-top: 0;
        }

        .search-input{
            text-align: center;
            position: relative;
            margin-bottom: 70px;


            .fa-magnifying-glass{

                color: rgb(0, 0, 0);
                font-size: 20px;
            }

            input{
                width: 350px;
                padding: 7px 50px;
                border-radius: 50px;
                border: 1px solid rgb(187, 187, 187);
                background-color: rgb(230, 228, 228);
                outline: none;
                font-size: 16px;
                font-family: "poppins", sans-serif;
            }
            ::placeholder{
                padding-left: 40px;
                transition: .3s ease;
            }
            :focus::placeholder{
                padding-left: 0px;
            }
        }


    .list-container{
        
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px 0;


        .item-container{
            padding: 15px;
            border: 1px solid rgb(230, 228, 228);
            border-radius: 10px;
            display: flex;
            align-items: center;
            position: relative;


            .item-img{
                width: 35%;
                margin-right: 30px;

                .item-box{
                    border: 1px solid rgb(230, 228, 228);
                    background-color: rgb(255, 255, 255);
                    height: 150px;
                    width: 180px;
                    border-radius: 10px;

                    img{
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                }

            }

            .item-text{
                width: 55%;

                p{
                    font-size: 18px;
                    font-family: "poppins", sans-serif;
                }
                .item-price{
                    font-weight: bold;
                    color: rgb(240, 70, 4);
                    font-size: 20px;
                    margin-top: 5px;
                    margin-bottom: 30px;
                }

                .descriptionDisplay{
                    color: white;
                    font-weight: bold;
                    border-radius: 50px;
                    cursor: pointer;
                    padding: 5px 10px;
                    border: none;
                    background-color: rgb(240, 70, 4);
                    box-shadow: 1px 1px 5px rgb(243, 145, 107);
                
                
                }
             
                .description{
                    display: none;
                    font-family: "poppins", sans-serif;
                    font-size: 14px;
                    position: absolute;
                    top: 60px;
                    left: 10px;
                    top: 10px;
                    background-color: white;
                    padding: 20px;
                    border-radius: 10px;
                    box-shadow: 1px 1px 5px rgb(206, 206, 206);
                    width: 160px;
                    transition: .3s ease-in-out;
            }

            .buy-now{
                padding: 6px;
                border: none;
                background-color: rgb(240, 70, 4);
                color: white;
                border-radius: 5px;
                margin-right: 10px;
                cursor: pointer;
                transition: .3s ease-in-out;
            }
            .add-to-cart{
                padding: 6px 18px;
                border: none;
                background-color: rgb(0, 0, 0);
                color: white;
                border-radius: 5px;
                cursor: pointer;
                transition: .3s ease-in-out;
            }

            .buy-now:hover, .add-to-cart:hover{
                box-shadow: 1px 1px 5px rgb(243, 145, 107);
            }

            
        }
    }

    }
}

#cartNotification{
    position: fixed;
    top: 20px;
    right: -400px;
    z-index: 1200;
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 1px 2px 10px rgba(56, 51, 49, 0.377);
    font-family: 'poppins', sans-serif;
    transition: right .3s ease-in-out;
}

#cartNotification.visible{
    right: 20px;
}

.no-result-found{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(226, 226, 226);
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 50px;


    p{
        font-size: 18px;
        font-family: "poppins", sans-serif;
        color: rgb(97, 97, 97);
        text-align: center;
    }
}


footer{
    background-color: rgb(253, 193, 113);
    color: black;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    position: relative;

    h3{
        text-align: center;
        font-size: 19px;
    }

    .footer-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        

        .footer-logo-text{
            text-align: center;
            width: 100%;
            margin-bottom: 20px;

            img{
                height: 50px;
                margin-bottom: 10px;
            }
            div{
                font-family:cursive;
                font-style: italic;
            }
            p{
                font-size: 14px;
                line-height: 1.5;
            }
        }

        .footer-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-right: 30px;

            h3{
                font-size: 18px;
                margin-bottom: 10px;
            }
            ul{
                list-style: none;
                li{
                    margin-bottom: 10px;
                    font-size: 15px;
                    color: black;
                    transition: .3s ease-in-out;

                    &:hover{
                        color: rgb(240, 70, 4);
                    }
                }
            }
        }

        .footer-contact{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            ul{
                list-style: none;
                padding: 0;
                li{
                    font-size: 15px;
                    color: black;
                    margin-bottom: 10px;
                }
            }

            h3{
                font-size: 18px;
                margin-bottom: 10px;
            }
            p{
                font-size: 15px;
                line-height: 1.5;
            }
            a{
                color: black;
                text-decoration: none;
                transition: .3s ease-in-out;

                &:hover{
                    color: rgb(240, 70, 4);
                }
            }
        }


        .footer-useful-links{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-right: 30px;

            h3{
                font-size: 18px;
                margin-bottom: 10px;
            }
            ul{
                list-style: none;
                li{
                    margin-bottom: 10px;
                    font-size: 15px;
                    color: black;
                    transition: .3s ease-in-out;

                    &:hover{
                        color: rgb(240, 70, 4);
                    }
                }
            }
        }


    }

    .copyright{
            width: 100%;
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
            color: black;
        }
}

















@media (max-width: 800px) {
    header{
        background-color: rgb(240, 70, 4);

        nav{
            
        .navigations{
            pointer-events: none;
            height: 70vh;
            width: 100%;
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            background-color: white;
            padding: 20px 0;
            border-radius: 0 0 20px 20px;
            box-shadow: 1px 2px 10px grey;
            z-index: 1000;
            transition: .3s ease-in-out;
            opacity: 0;
            transform: translateY(-30px);
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li{
                padding: 10px 0;
                margin: 0;
                font-size: 16px;
                font-weight: bold;
                color: rgb(240, 70, 4);
            }
        }

        .cart{
            
            li{
                display: none;
            }
            .cart-icon img{
                height: 30px;
                text-align: center;
                display: block;
            
            }
        }
    }

    .hamburger{
        display: block;
        color: rgb(240, 70, 4);
        font-weight: bold;
        background-color: white;
        padding: 5px 12px;
        border-radius: 50px;
        cursor: pointer;
    }
}

.navigations.visible{
    opacity: 1;
    transform: translateY(0px);
    z-index: 1000;
    pointer-events: visible;
}
.menu-nav{
    .drop-down-nav{
        display: none;
    }
}

.shawarma-list-cont{
    

    .search-input{

        input{
                width: 200px;
                padding: 7px 20px;
                border-radius: 50px;
                border: 1px solid rgb(187, 187, 187);
                background-color: rgb(230, 228, 228);
                outline: none;
                font-size: 16px;
                font-family: "poppins", sans-serif;
            }
            ::placeholder{
                padding-left: 20px;
                transition: .3s ease;
            }
            :focus::placeholder{
                padding-left: 0px;
            }
    }

    .list-container{
        
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px 0;


        .item-container{
            padding: 15px;
            border: 1px solid rgb(230, 228, 228);
            border-radius: 10px;
            display: flex;
            align-items: center;


            .item-img{
                width: 35%;
                margin-right: 30px;
            }
        }
    }
}



footer{
        padding: 20px;
        text-align: center;

        .footer-container{
            flex-direction: column;
            align-items: center;

            .footer-logo-text{
                margin-bottom: 30px;
            }

            .footer-menu, .footer-useful-links, .footer-contact{
                margin-right: 0;
                margin-bottom: 20px;
                margin-left: 0;
                width: 100%;
                text-align: center;
                h3{
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                ul{
                    list-style: none;
                    padding: 0;
                    li{
                        font-size: 15px;
                        color: black;
                        margin-bottom: 5px;
                        text-align: center;

                        &:hover{
                            color: rgb(240, 70, 4);
                        }
                    }
                }
            }
        }
    }



}









@media (max-width: 500px) {



    .shawarma-list-cont{
    width: 89%;

    .search-input{

        input{
                width: 200px;
                padding: 7px 20px;
                border-radius: 50px;
                border: 1px solid rgb(187, 187, 187);
                background-color: rgb(230, 228, 228);
                outline: none;
                font-size: 16px;
                font-family: "poppins", sans-serif;
            }
            ::placeholder{
                padding-left: 20px;
                transition: .3s ease;
            }
            :focus::placeholder{
                padding-left: 0px;
            }
    }

    .list-container{
        
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px 0;


        .item-container{
            padding: 15px;
            border: 1px solid rgb(230, 228, 228);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;


            .item-img{
                width: 30%;
                margin-right: 60px;

                .item-box{
                    height: 130px;
                    width: 140px;
                }
            }

            .item-text{
                width: 60%;

                p{
                    font-size: 18px;
                    font-family: "poppins", sans-serif;
                }
                .item-price{
                    font-weight: bold;
                    color: rgb(240, 70, 4);
                    font-size: 20px;
                    margin-top: 5px;
                    margin-bottom: 30px;
                }

                .descriptionDisplay{
                    color: white;
                    font-weight: bold;
                    border-radius: 50px;
                    cursor: pointer;
                    padding: 5px 10px;
                    border: none;
                    background-color: rgb(240, 70, 4);
                }
             
                #description{
                    font-size: 14px;
                    display: none;
                }
            }

        }
    }
}
    
}